/* * {
    border: 1px solid red;
} */

body {
    background-color: rgb(235, 236, 236);
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #213053;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate__fadeInLeft,
.animate__fadeInRight {
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
}


.header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #95a5a6; */
    color: #2c3e50;
    position: sticky;
    z-index: 1;
    background-color: white;
    top: 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    border-radius: 0 0 10px 10px;
}

a {
    text-decoration: none;
    color: #213053;
}

header a {
    font-size: 15px;
    font-weight: 600;
}

nav span {
    margin-left: 20px;
}

button {
    font-family: 'Raleway', sans—serif;
    font-size: 15px;
    color: #fff;
    background-color: #23a030;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 15px;
    transition: all 0.5s ease;
}

button:hover {
    box-shadow: 0 16px 36px rgba(7, 238, 30, 0.4);
    background-color: #23a030;
}

.logo {
    text-decoration: none;
    width: auto;
    display: flex;
    align-items: center;
    transition: opacity 0.5s ease;
}

.logo:hover {
    opacity: 0.8;
}

.btns button {
    border: none;
    background-color: #2c3e50;
    color: #95a5a6;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow 0.5s ease;
    font-size: 15px;
    font-weight: 600;

}

.header__logo img {
    height: 30px;
}

.header__controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sun {
    width: 100px;
    height: 100px;
    /* animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
    animation: rotation 10s linear infinite;
}

.photo_panel {
    width: 500px;
}

/* About Section*/

.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 115px 20px;
    background-color: #fff;
    background: url("../img/back.png") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.about-section__title {
    font-size: 70px;
    line-height: 76px;
}

.about-section__subtitle {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8;
}

.about-section__button {
    font-size: 18px;
    border-radius: 20px;
    padding: 20px 25px;
    margin-top: 20px;
}

.about-section__info {
    max-width: 550px;
}

.about-section__images {
    position: relative;
    display: flex;
}

.about-section__photo_sun {
    position: relative;
    top: 0px;
    left: 0px;
    align-self: flex-start;
}

.orb-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

/* Features section */
.features {
    background: #fff;
    padding: 115px 60px;
    /* display: flex;
    justify-content: space-between; */

}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
}

.card {
    padding: 35px 40px 25px 40px;
    border: 1px solid #D9E4E6;
    border-radius: 5px;
}

.card__title {
    font-size: 16px;
    line-height: 22px;
    opacity: 0.8;
}

.card__logo {
    height: 100px;
    width: 100px;
    font-size: 32px;
    font-weight: 700;
    background-color: #eaeff9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:first-child>.card__logo {
    color: #ffb406;
}

.card:nth-child(2)>.card__logo {
    color: #ad1714;
}

.card:last-child>.card__logo {
    color: #22a030;
}

.features__border {
    padding: 50px 0;
    border: 1px solid #E6EAF4;
}

.features__feedback {
    display: flex;
    align-items: center;
}

.features__feedback-left {
    margin: 10px;
}

.features__feedback-left h2 {
    font-size: 48px;
}

.features__feedback-left>p {
    font-size: 18px;
    line-height: 26px;
    opacity: 0.7;
}

.features__feedback-right {
    display: flex;
    align-items: center;
}

.features__box {
    padding: 30px 40px 25px 40px;
    color: #fff;
    border-radius: 25px;
    margin-right: 30px;
}



.features__savings-box {
    background-color: #dc5e26;
    box-shadow: 0 6px 0 rgb(221 95 38 / 20%);
}

.features__box h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 48px;
}

.features__rate-box {
    background-color: #1D263A;
    box-shadow: 6px 0 0 rgb(29 38 58 / 20%);
}

.stars {
    color: #ff7039;
}

/* Promo section */
.promo {
    display: flex;
    width: 100vw;
    align-items: center;
}

.promo__image {
    /* background-color: #dc5e26; */
    background-image: url(../img/promo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 50%;
    flex-shrink: 0;
}

.promo__right {
    background-color: #dd5f26;
    padding: 160px 60px;
}

.promo_card {
    background: #fff;
    padding: 30px 40px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    border-radius: 25px;
}

.promo_card p {
    opacity: 0.8;
}

.promo_card p::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #ec6b29;
    margin-right: 10px;
}

.promo__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo__button {
    background-color: #107b1c;
    margin-top: 20px;
    font-size: 18px;
    padding: 15px 30px;
    font-weight: 600;
}

.promo__button>i {
    font-size: 15px;
    margin-left: 5px;
}

/*Form Section*/

.form {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D263A;
    color: #fff;
    padding-top: 115px;
    padding-bottom: 115px;
    text-align: center;
}

.form__container {
    max-width: 550px;
}

.form__title {
    font-size: 48px;
}

.form_paragraph {
    font-size: 18px;
    opacity: 0.65;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.form__group label {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* .form__other-input {
    margin-top: 15px;
} */

.form select,
.form input {
    font-size: 18px;
    color: #213053;
    height: 60px;
    padding: 0px 20px;
    border-radius: 15px;
    border: none;
    margin-top: 0;
}

.form select option {
    padding-left: 15px;
}

.form__submit {
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
}

select {
    appearance: none;
}

input {
    outline: none;
    padding-left: 20px;
}

input::placeholder {
    color: gray;
}

/*Footer*/
.footer {
    padding: 90px 20px;
    font-size: 16px;
    font-weight: 600;
}

.footer__container {
    display: flex;
    justify-content: center;
}

.footer__copyright {
    text-align: center;
    margin-top: 40px;
    opacity: 0.5;
}

.footer__group {
    margin-right: 80px;
}

.footer__group h3 {
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}

@media (min-width: 320px) and (max-width: 720px) {
    .header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .header__logo img {
        height: 20px;
    }

    .about-section {
        padding: 50px 0px;
    }

    .form {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .about-section__title,
    .form__title {
        font-size: 36px;
        line-height: 40px
    }

    .photo_panel {
        width: 280px;
    }

    .sun {
        width: 75px;
        height: 75px;
    }

    .about-section {
        padding-left: 10px;
        padding-right: 10px;
    }

    .cards {
        grid-template-columns: auto;
        gap: 50px;
    }

    .features__feedback {
        flex-direction: column;
    }

    .features__feedback-left {
        margin: 0px;
    }

    .features__feedback-left h2 {
        font-size: 36px;
    }

    .features__feedback-right {
        display: flex;
        flex-direction: column;
        align-items: normal;
    }

    .features__box {
        margin-right: 0px;
    }

    .features__box h3 {
        font-size: 36px;
    }

    .promo {
        flex-direction: column-reverse;
    }

    .promo__image {
        width: 100%;
        height: 500px;
    }

    .promo__right {
        padding: 50px 10px;
    }
}




@media (min-width: 720px) and (max-width: 1024px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer {
        padding-left: 20px;
        padding-right: 20px;
        /* padding-top: 50px;
        padding-bottom: 50px; */
    }

    .about-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-section__title {
        font-size: 36px;
        line-height: 40px;
    }

    .photo_panel {
        width: 280px;
    }

    .sun {
        width: 75px;
        height: 75px;
    }
}